@model IEnumerable<Garage_2._5.Models.VehicleViewModel>

@{
    ViewBag.Title = "Index";
}

<!--
    Controllers:
        IndexController:
            $scope Variables:
                "Vehicles" (object from Action: getIndex Controller: Home)
                "VehicleTypes" (object from Action: getVehicleTypes Controller: Home)
                
        ModalController:
            $scope Variables:
                "ModalTemplate" (to select wich Template should be viewed to the user(Should be changed when planning the layout))
                "OwnersList" (Object from Action: GetOwners Controller Home)
                "VehicleTypes" (Obejct from Action: GetVehicleTypes Controller Home)
                "Vehicle" (Vehicle Object to be created)
                "Owner" (Owner Object to be created)
            $scope functions
                CreateVehicle() (posts the "Vehicle" object into /Home/CreateVehicle )
                CreateOwner() (posts the "Owner" object into /Home/CreateOwner )

-->


<!--@@using (Ajax.BeginForm("Index", null, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "OurTableDiv",
                                    HttpMethod = "GET"
                                }, htmlAttributes: new { @@class = "form-inline" }))
{
    <hr />
    <div class="form-group">
        @@Html.TextBox("RegNr", null, new { @@class = "form-control" })
        <button type="submit" class="btn btn-default">Search</button>
        @@Html.DropDownList("VehicleTypeId")
    </div>
}-->


<div id="OurTableDiv" ng-controller="IndexController"><!-- Controller -->
    <h2>Index</h2>

    <div ng-controller="ModalController"> <!-- Controller -->
        <a class="btn btn-default" ng-click='Open("CreateVehicle")'>Create Vehicle</a>
        @Html.ActionLink("Detailed list", "DetailedList")

    </div><!-- Controller End -->
    <!--
        
    <select ng-options="x.Name for x in VehicleTypes"></select>
    -->
    <!--@@Html.ActionLink("Create new Vehicle", "Create")-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    Owner
                </th>
                <th>
                    RegNr
                </th>
                <th>
                    Type
                </th>
                <th>
                    Color
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in Vehicles">
                <td>
                    {{v.OwnerName}}
                </td>
                <td>
                    {{v.RegNr}}
                </td>
                <td>
                    {{v.VehicleType}}
                </td>
                <td>
                    {{v.Color}}
                </td>
                <td>
                    <a href="/Edit/{{v.Id}}">Edit</a>
                    <a href="/Details/{{v.Id}}">Details</a>
                    <a href="/Delete/{{v.Id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div><!-- Controller End -->


<!-- Change after layout design -->
<!-- Basic modal support -->
<div ng-controller="ModalController"> <!-- Controller -->
    <div ng-switch="ModalTemplate">
        <div ng-switch-when="CreateVehicle">
            <div class="modal fade ModalContainer" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Create Vehicle</h4>
                        </div>
                                    
                        <div class="modal-body">
                            <form id="CreateVehicleForm" name="CreateVehicleForm">
                                <div class="form-group">
                                    <label for="RegNr">Registration Number</label>
                                    <input type="text" name="RegNr" id="RegNr" ng-model="Vehicle.RegNr" class="form-control" />
                                    <label for="Color">Color</label>
                                    <input type="text" name="Color" id="Color" ng-model="Vehicle.Color" class="form-control" />
                                    <label for="Type">Type</label>
                                    <select name="Type" id="Type" ng-model="Vehicle.VehicleTypeId">
                                        <option ng-repeat="type in VehicleTypes" value="{{type.TypeId}}">{{type.Name}}</option>
                                    </select>
                                    <label for="Owner">Owner</label>
                                    <!--<input type="text" ng-model="OwnerSearch" class="form-control" />-->
                                    <select name="Owner" id="Owner" ng-model="Vehicle.OwnerPNR" >
                                        <option ng-repeat="o in OwnersList track by o.PNR" value="{{o.PNR}}">{{o.Name}}</option>
                                    </select>
                                </div>
                            </form>
                            <button ng-click="checkData()">check</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="CreateVehicle()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-default>
            <div class="modal fade ModalContainer" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Default and user shouldn't see this {{ModalTemplate}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Controller End -->